[Unit]
Description=Chronograf startup script

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/chronograf.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

